#banner {
	height: 350px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#image_box {
	float: left;
	height: 300px;
	width: 300px;
	margin-top: 25px;
	margin-left: 25px;
}
#image {
	float: left;
	height: 200px;
	width: 300px;
	border: 1px double #D4EFF6;
}
#image_desc {
	padding: 10px;
	height: 80px;
	width: 280px;
	border: 1px dotted #D4EAF5;
}
div.container p {
font-family: Times;
font-size: 16px;
font-style: normal;
font-weight: bold;
text-decoration: none;
text-transform: none;
color: #80ffff;
}