a:link {
	color: #0F0;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #000;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #F00;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #FF0;
	background-color: transparent;
	text-decoration: underline;
}

body {
	background-image: url(../image/Background_1.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#nav_bar {
	background-color: #CCC;
	overflow: hidden;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
}

#main {
	background-color: #666;
	padding: 16px;
	height: 700px;
	width: 1000px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

#footer {
	font-size: 17px;
	color: #FFF;
	background-color: #000;
	text-align: center;
	float: left;
	width: 100%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#nav_bar a {
	text-decoration: none;
	display: block;
	padding: 16px;
	float: left;
}