#info {
	background-image: url(../image/viewpoint_image.jpg);
	float: left;
	height: 660px;
	width: 100%;
	margin-top: 20px;
	background-repeat: repeat;
}

#content {
	float: left;
	height: 300px;
	width: 560px;
	padding:10px;
	margin-bottom: 20px;
}

#content_img {
	padding: 10px;
	float: left;
	height: 300px;
	width: 400px;
}