.slide:nth-of-type(1) {
	background-image: url(https://i.imgur.com/jkGafYR.png);
}

.slide:nth-of-type(2) {
	background-image: url(https://i.imgur.com/hVt5UUx.png);
}

/*  body
{
	background-color: #000000;
	background-attachment: fixed;
	background-image: url(images/bg05.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}*/