.slide:nth-of-type(1) {
	background-image: url(https://i.imgur.com/So313dh.png);
}

.slide:nth-of-type(2) {
	background-image: url(https://i.imgur.com/E69ufnS.png);
}

.slide:nth-of-type(3) {
	background-image: url(https://i.imgur.com/a5WHCvu.png);
}

.slide:nth-of-type(4) {
	background-image: url(https://i.imgur.com/rYMZo60.png);
}

/*  body
{
	background-color: #000000;
	background-attachment: fixed;
	background-image: url(images/bg05.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}*/