header {
    background-image: url(../../media/image/Yu-gi-oh/yu-gi-oh_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .yu1{
    z-index: 3;
    color: snow;
    font-size: 75px;
    display:flex;
}

main .img {
  background-color: black;
}

main .img h1 {
  color: rgb(255, 255, 255);
}

main section {
  padding: 3px 0;
}

main header {
  height: 500px;
}