/* CSS Document */

::-moz-selection {
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
}

::selection {
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
}

body
{
	background-color: #18253f;
}
body, td, textarea, input, option, select
{
	color: rgba(255,255,255,0.7);
	font-family: Tahoma;
	font-size: 11px;
}
table, td
{
	margin:0px;
	padding:0px;
	border:0px;
	vertical-align: text-top;
}

table.param_table
{
	width:100%;
	border-collapse:collapse;
}
table.param_table td
{
	font-size: 13px;
	padding:3px;
	vertical-align:top;
	line-height:25px;
	text-align:right;
	border:1px solid rgba(0,0,0,0.2);
}

table.param_table tr:nth-child(odd)
{
	background-color: rgba(255,255,255,0.01);
}
table.param_table tr:nth-child(even)
{
	background-color: rgba(0,0,0,0.05);
}

.toptitle
{
	color: rgba(255,255,255,0.5);
	font-weight: bold;
}
#modlist_title
{
	position: fixed;
	left: 10px;
	top: 10px;
}
#modlist
{
	position: fixed;
	width: 200px;
	left: 10px;
	top: 30px;
	height: calc(100% - 40px - 150px);
	display: block;
	overflow-y: auto;
}
#modtools
{
	position: fixed;
	width: 200px;
	left: 10px;
	bottom: 10px;
	height: 140px;
	display: block;
	overflow-y: auto;
}
.room
{
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 5px;
	
	color: rgba( 255, 255, 255, 0.7 );
	background-color: rgba(0,0,0,0.4);
	
	text-align: center;
	line-height: 26px;
	height: 26px;
	font-weight: bold;
	cursor: pointer;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	margin-bottom: 2px;
	
	opacity: 0.5;
}
.room:hover
{
	opacity: 0.9;
}
.room:active
{
	opacity: 1;
}
div.room_active, div.room_active:hover, div.room_active:active
{
	background-color: rgba(255,255,255,0.1);
	opacity: 1;
}

#modlist_container
{
	margin-bottom:10px;
}

.social1
{
	text-align: left;
	padding-left: 6px;
	background-color: rgba(50,170,0,0.4);
}

.social2
{
	text-align: left;
	padding-left: 6px;
	background-color: #9c870040;
}



#mod_title
{
	position: fixed;
	left: 220px;
	top: 10px;
}
#mod_content
{
	position: relative;
	width: calc(100% - 230px);
	left: 220px;
	top: 30px;
	height: calc(100% - 40px);
	
	display: block;

	padding-bottom: 65.25%;
  	padding-top: 30px;
	overflow-y: visible;
	/*-webkit-overflow-scrolling: touch;*/
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.framedrect
{
	border-radius: 5px;
	border: 1px solid #171b26;
	background-color: #2c3955;
	padding: 5px;
	margin: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
}
div.framedrect
{
	white-space: nowrap;
}

select.framedrect
{
	padding:0px;
	padding-left:5px;
	height:25px;
}
select.framedrect option
{
	padding:5px;
	border:none;
}

.wide
{
	width: 100%;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
	background-color: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track:disabled {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
	background-color: #7088ac;
}

/*.myIframe {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
    border: solid black 1px;
  }
  */

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}